.App {
  /* max-height: 100vh; */
  /* overflow: hidden */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: .3s ;
}
.App-header h1{
  margin: 0px;
  padding: 0px;
}
.App-header.swipe{
  min-height: 0px;
  flex-wrap: wrap;
  transition: .3s ;
  padding-bottom: 8px;
  flex-direction: row;
  justify-content: space-around;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
